<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
</head>
<body>
	<h1><strong>OPENID</strong>provider</h1>
	<form action="" method="post">
		<div class="form-input">
			<label for="">name</label>
			<input type="text" name="username">
		</div>
		<div class="form-input">
			<label for="">password</label>
			<input type="password" name="password">
		</div>
		<button>Login</button>
	</form>

</body>
</html>
